* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111230;
  }
  /* Header */
  .header {
    background-color: #fef0e5;
    width: 100%;
    height: 330px;
    border-radius: 0 0 10% 10%;
    z-index: 1;
  }
  /* NavBar */
  .header a {
    float: left;
    margin: 30px 60px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  .header nav ul {
    float: right;
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  .header nav ul li {
    float: left;
    cursor: pointer;
    margin: 20px;
    font-weight: bold;
    list-style: none;
  }
  .header nav ul li:hover {
    text-decoration: underline;
  }
  .joinBtn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
  }
  .search {
    display: flex;
    width: 100%;
    height: 80%;
  }
  .searchJob {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
  }
  .input-field {
    display: flex;
    width: 80%;
    height: 20%;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
  }
  .labelFor1 {
    position: relative;
    top: 10px;
    right: -37px;
    font-weight: bold;
    cursor: text;
  }
  .inputSignup1 {
    cursor: text;
    width: 100%;
    padding-top: 15px;
    font-size: 15px;
    border: none;
  }
  .middle {
    width: 1px;
    height: 70%;
    margin-top: 10px;
    background-color: #d3d3d3
  }
  .labelFor2 {
    position: relative;
    top: 10px;
    right: -67px;
    font-weight: bold;
    cursor: text;
  }
  .inputSignup2 {
    cursor: text;
    width: 100%;
    padding-top: 15px;
    font-size: 15px;
    border: none;
  }
  .inputSignup1:focus, .inputSignup2:focus {
    outline: 0;
  }
  .searchBtn {
    padding: 0 5%;
    background-color: #fb7042;
    color: white;
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
  }
  .searchBtn:hover {
    background-color: #cf6e4e;
  }
  /* Chart 1 */
  .chart {
    width: 10%;
    height: 50%;
    padding: 1% 0%;
    border-radius: 10px;
    background-color: #fdb000;
  }
  .waves {
    margin: auto;
    width: 90%;
    height: 50%;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .percentage {
    display: flex;
  }
  .level {
    margin: auto;
    color: white;
    width: 90%;
    height: 50%;
    font-size: 45px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  .level1, .level2, .level3, .level4, .level5 {
    width: 15%;
    background-color: white;
    border-radius: 3px;
  }
  .level1 {
    height: 40%;
  }
  .level2 {
    height: 60%;
  }
  .level3 {
    height: 80%;
    background-color: black;
  }
  .level4 {
    height: 40%;
  }
  .level5 {
    height: 20%;
  }
  .laptopGuy {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  /* Chart 2 */
  .chart2 {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  .char2 {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
  }
  .char2 h6 {
    text-align: center;
  }
  .flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  .single-chart {
    width: 100%;
    justify-content: space-around ;
  }
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  .check {
    position: relative;
    top: -15%;
    right: -90%;
    font-size: x-large;
    margin-bottom: -15%;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  .circular-chart.yellow .circle {
    stroke: #fdb000;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  /* Bottom for Header on Section Top */
  .bottom {
    width: 100%;
    z-index: 0;
    margin-top: 1.7%;
    display: flex;
    justify-content: center;
  }
  .bottom1 {
    width: 45%;
  }
  .bottom2 {
    width: 45%;
  }
  .bottom1::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 200px;
    /* background-color: red; */
    transform: rotate(5deg);
    box-shadow: 0px -200px 0px 0px #fef0e5;
  }
  .bottom2::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 45%;
    height: 200px;
    /* background-color: blue; */
    transform: rotate(-5deg);
    box-shadow: 0px -200px 0px 0px #fef0e5;
  }
  /* Section */
  .moreAboutUs {
    width: 100%;
    height: 43vh;
    display: flex;
  }
  /* First Part */
  .candidates {
    width: 70%;
  }
  .moreCandidates {
    width: 80%;
    height: 35%;
    margin: auto;
    display: flex;
  }
  .ourMoreCandidates {
    width: 40%;
    height: 100%;
  }
  .ourMoreCandidatesImgs {
    display: flex;
    margin-top: 10px;
  }
  .ourMoreCandidates h3 {
    color: white;
    text-decoration: underline #fb7042;
  }
  .ourMoreCandidatesImgIcon1,
  .ourMoreCandidatesImgIcon2,
  .ourMoreCandidatesImgIcon3,
  .ourMoreCandidatesImgIcon4,
  .ourMoreCandidatesImgIcon5 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: -10px;
  }
  .ourMoreCandidatesImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .ourMoreCandidatesImgIcon1 {
    margin-left: 0;
  }
  .ourMoreCandidatesImgIcon5 p {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegreen;
    color: white;
  }
  .ourDesign {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: rotate(-15deg);
  }
  .ourDesign table tr td {
    width: 50px;
    height: 20px;
  }
  .design1,
  .design2,
  .design3,
  .design4 {
    background-image: linear-gradient(0deg, #b4842b, #ffff00);
    border-radius: 2px;
    margin: auto;
  }
  .design1 {
    width: 20px;
    height: 20px;
  }
  .design2 {
    width: 27px;
    height: 27px;
  }
  .design3, .design4 {
    width: 15px;
    height: 15px;
  }
  .ourConnection {
    width: 90%;
    height: 65%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .conic1 {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
  .conicCircle1 {
    margin-right: -100%;
    z-index: 0;
    height: 30px;
    width: 30px;
    background-image: conic-gradient(#43b97f 0deg, #43b97f 90deg, #161840 90deg, #161840 180deg, #43b97f 180deg, #43b97f 270deg, #ffc135 270deg);
    border-radius: 50%;
  }
  .conic2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conicCirle2 {
    margin-left: -100%;
    height: 30px;
    width: 30px;
    background-image: conic-gradient(#10122f 0deg, #10122f 90deg, #e6470d 90deg, #e6470d 180deg, #161840 180deg, #161840 270deg, #fcd33d 270deg);
    border-radius: 50%;
  }
  .ourLinks {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161840;
    border-radius: 25px 25px 0 0;
    border: 1px solid #2d335b;
  }
  .ourLink {
    width:28%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2d335b;
    border-radius: 10px;
  }
  .ourLinksIcons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161840;
    border-radius: 40%;
  }
  .ourLinksIcon {
    color: gold;
    font-size: x-large;
  }
  .ourLink p {
    width: 100%;
    text-align: center;
    color: white;
  }
  .ourLink .underline {
    width: 20px;
    height: 1px;
    background-color: #8b7d62;
  }
  .conicCircle2 {
    height: 20px;
    width: 20px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
  }
  /* Second Part */
  .benefits {
    width: 30%;
  }
  .qualifiers {
    display: flex;
  }
  /* Arrow */
  .arrow {
      position: absolute;
    margin: 10px auto 0;
    width: 200px;
  }
  .arrow .curve {
      border: 2px solid white;
      border-color: transparent transparent transparent white;
      height: 110px;
      border-radius: 10px 0 0 200px;
  }
  .arrow .point {
      position: absolute;
      left: 31px;
      top: 76px;
  }
  .arrow .point:before, .arrow .point:after {
      border: 1px solid white;
      height: 10px;
      content: "";
      position: absolute;
  }
  .arrow .point:before {
      top: -1px;
      left: -4px;
      transform:rotate(-74deg);
      -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }
  .arrow .point:after {
    top: -4px;
      left: 2.5px;
      transform:rotate(12deg);
      -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
  }
  .ourBenefit {
    display: flex;
    margin: 100px 0 0 30px;
  }
  .platform {
    width: 60%;
    margin-top: 20px;
    line-height: 20px;
  }
  .platform h3 {
    color: white;
  }
  .platform p {
    color: rgb(197, 173, 173);
    font-size: small;
  }
  .kplus {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .kplus p {
    color: #ead59e;
    font-size: large;
    text-decoration: underline #383853;
  }
  .kplus svg {
    color: #3076ff;
    font-size: xx-large;
  }
  .success {
    display: flex;
    align-items: center;
  }
  .platform span {
    color: #bdadce;
    font-size: small;
  }
  .platform svg {
    margin-left: 5px;
  }
  @media screen and (min-width: 4001px) and (max-width: 6000px) {
  }
  @media screen and (min-width: 2701px) and (max-width: 4000px) {
  }
  @media screen and (min-width: 2001px) and (max-width: 2700px) {
  }
  @media screen and (min-width: 1801px) and (max-width: 2000px) {
  }
  @media screen and (min-width: 1601px) and (max-width: 1800px) {
  }
  @media screen and (min-width: 1401px) and (max-width: 1600px) {
  }
  @media screen and (min-width: 1301px) and (max-width: 1400px) {
  }
  @media screen and (min-width: 1201px) and (max-width: 1300px) {
  }
  @media screen and (max-width: 1200px) {
    .labelFor1 {
      right: -20px;
    }
    .inputSignup1 {
      margin-left: -5%;
    }
    .middle {
      margin-left: -5%;
    }
    .labelFor2 {
      right: -50px;
    }
    .inputSignup2 {
      margin-left: -5%;
    }
    .check {
      top: -20%;
    }
  }